* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  text-align: center;
  padding-top: 40px;
}

h1 {
  color: #2a7c51;
}

h2 {
  padding-top: 20px;
  color: #47609e;
}

input {
  margin-top: 20px;
  padding: 5px;
}

button {
  cursor: pointer;
  padding: 5px;
  border: none;
  background: #2a7c51;
  font-size: 18px;
  color: white;
}

/* #error {
  color: #e04646;
} */